body
{ 
	font-family: Comic Sans MS;
}
header
{
	width: 1000px; 
	margin:0 auto;
}
article
{
	width: 770px;
	margin: 0 auto;
}
.my-photo
{
	float: left;
	margin-top: 20px;
	margin-right: 50px;
}
.photo
{
	width: 330px; 
	height: 350px;
	border-radius: 5px;
}
.title
{
	font: 600 40px/42px Comic Sans Ms;
    text-align: center;
}
.my-hobbies-header
{
    margin-top: 20px;
}
.my-hobbies
{
	float: left;
}
.clear
{
	clear: both;
}

.topic
{
	width: 1250px;
	margin: 80px auto 0 auto;
}
.topic__image
{
	display: block;
	margin-left: 20px;
	float: left;
	width: 230px; 
	height: 150px;
	border-radius: 5px;	
}
footer
{
	margin-top: 20px;
	text-align: center;
}